vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|06 Jun 2010 02:21:26 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|en/MasterPageEn.Master MasterPage.master
vti_author:SR|PYSI\\Ygor Lazaro
vti_modifiedby:SR|PYSI\\Ygor Lazaro
vti_timecreated:TR|06 Jun 2010 02:21:26 -0000
vti_cacheddtm:TX|06 Jun 2010 02:21:26 -0000
vti_filesize:IR|4198
vti_cachedlinkinfo:VX|S|../img/bg.jpg S|../img/bg.png S|../img/bg_principal.png S|../img/bg_principal_btm.png S|../img/bg_principal_meio.png S|../img/bg_principal_meio.png S|../img/menul.png S|../img/menur.png S|../img/bg_menu.png S|../img/logo.png S|../img/bgform1.png
vti_cachedsvcrellinks:VX|FSUS|img/bg.jpg FSUS|img/bg.png FSUS|img/bg_principal.png FSUS|img/bg_principal_btm.png FSUS|img/bg_principal_meio.png FSUS|img/bg_principal_meio.png FSUS|img/menul.png FSUS|img/menur.png FSUS|img/bg_menu.png FSUS|img/logo.png FSUS|img/bgform1.png
