@charset "utf-8";
/* CSS Document */

body
{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFF;
    background-color: #444;
    background-image: url(../images/bg.png); background-repeat:repeat-x;
}
.clb
{
    clear: both;
}

/* Main */
#main
{
    width: 959px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
#topo
{
    font-size: 13px;
}
.areaexclusiva
{
    float: left;
    margin-left: 15px;
}
.idioma
{
    float: right;
    color: #e3e3e3;
    margin-right: 15px;
    text-align: right;
}
.idioma a:link
{
    text-decoration: none;
    color: #FFF;
}
.idioma a:visited
{
    text-decoration: none;
    color: #FFF;
}
.idioma a:hover
{
    text-decoration: underline;
    color: #FFF;
}
/* Menu */
#menu
{
    margin-top: 5px;
}
.logotipo
{
    width: 116px;
    height: 70px;
    background-image: url(../images/menu_logo.jpg);
    background-repeat: no-repeat;
    float: left;
}
.menu_fecha
{
    height: 70px;
    background-image: url(../images/menu_fecha.jpg);
    float: right;
    width: 20px;
}
.bg_menu
{
    height: 70px;
    background-image: url(../images/bg_menu.jpg);
    margin-left: 116px;
    margin-right: 20px;
}
.links_menu
{
    font-size: 14px;
    padding-top: 20px;
}
.search
{
    float: right;
    margin-top: 3px;
}

/* Estrutura do Site */
#estrutura
{
    margin-top: 8px;
}
.painel_esquerda
{
    float: left;
    width: 183px;
    margin-right: 10px;
}
.solucoes
{
    margin-left: auto;
    margin-right: auto;
    width: 177px;
    margin-bottom: 3px;
}
.icone_esquerda
{
    float: left;
    margin-bottom: 4px;
}
.icone_direita
{
    float: right;
    margin-bottom: 4px;
}
.google_ads
{
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

/* Conteúdo */
.meio
{ 
}
.background_meio
{
    width: 757px;
    height: 256px;
    background-image: url(../images/meio.jpg);
    background-repeat: no-repeat;
    color: #000;
    margin-left: 195px;
}
*:first-child + html .efeito_foto
{
    background-image: url(../images/efeito.png);
    width: 777px;
    height: 288px;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 0px !important;
    z-index: 2;
}
*:first-child + html .imagem
{
    position: absolute;
    margin-top: 5px;
    margin-left: 13px !important;
    z-index: 1;
}
.efeito_foto
{
    background-image: url(../images/efeito.png);
    width: 777px;
    height: 288px;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 195px;
    z-index: 2;
}
.imagem
{
    position: absolute;
    margin-top: 5px;
    margin-left: 208px;
    z-index: 1;
}


*:first-child + html .defaultdesc
{
    float:right; 
    margin-top:310px;
    width:736px;
    margin-left:20px;
}
.defaultdesc
{
	border-style: outset;
	border-color: #808080;
	position: absolute;
	margin-top: 320px;
	margin-left: 208px;
	width: 736px;
	height:295px;
}

.sobredesc
{
	padding-left:10px;
	padding-right:10px;
	margin-left: 208px;
	border-style: outset;
	border-color: #808080;
	position: absolute;
	width: 730px;
	height:615px;
}

/* Rodapé */
.rodape
{
    margin-top: 10px;
}
.sublinks
{
    float: left;
    overflow: hidden;
}
.sublinks a:link
{
    text-decoration: none;
    color: #FFF;
    padding-left: 20px;
}
.sublinks a:visited
{
    text-decoration: none;
    color: #FFF;
    padding-left: 20px;
}
.sublinks a:hover
{
    text-decoration: underline;
    color: #FFF;
    padding-left: 20px;
}


.copyright
{
    float: right;
}


/* Lavalamp */
.lavaLampBottomStyle
{
    position: relative;
    padding: 20px;
    padding-top: 0;
    margin: 0;
    overflow: hidden;
}
.lavaLampBottomStyle li
{
    float: left;
    list-style: none;
}
.lavaLampBottomStyle li.back
{
    background-color: #FFF;
    width: 5px;
    height: 23px;
    margin-top: 0px;
    z-index: 8;
    position: absolute;
    filter: alpha(opacity=30);
    -moz-opacity: .30;
    opacity: .30;
}

.lavaLampBottomStyle li a
{
    text-decoration: none;
    color: #FFF;
    outline: none;
    text-align: center;
    top: 3px;
    letter-spacing: 0;
    z-index: 10;
    display: block;
    float: left;
    height: 20px;
    position: relative;
    overflow: hidden;
    margin: auto 10px;
}
.lavaLampBottomStyle li a:hover, .lavaLampBottomStyle li a:active, .lavaLampBottomStyle li a:visited
{
    border: none;
}

