@charset "utf-8";
/* CSS Document */

Body {margin:0; font-size:12px; font-family:Verdana, Geneva, sans-serif; color:#e8e8e8;}

a:link { color:#d7d7d7; font-weight:bold; text-decoration:none;}
a:hover { color:#d7d7d7; font-weight:bold; text-decoration:underline;}
a:visited { color:#d7d7d7; font-weight:bold; text-decoration:none;}

.iframe {  height:expression(frames("palco").document.body.scrollHeight); }   

.h2 { font-size:14px; color:#FFF; font-weight:bold;}
.h1 { color:#2c74ac; font-size:18px; font-weight:bold;}
.floatl { float:left}
h1 {color:#2c74ac; font-size:16px; font-weight:bold;}
hr { margin-top:10px; margin-bottom:10px;}

	.bgpm_l { float:left; width:632px;}
		.bgpm_l strong { color:#2c74ac;}

	.bgpm_r { float:right; text-decoration:none; border:none; margin-right:15px;}
		.bgpm_r a:link { text-decoration:none; border:none;}
		.bgpm_r a:visited { text-decoration:none; border:none;}
	.bgpm_r_1 { margin-top:10px; text-decoration:none;}
			


.fakehr { height:1px; background-color:#001d32; border-bottom:1px solid #7c7f81; margin-top:15px; margin-bottom:15px; }

/* Serviços */
.serv_a { float:left; }
.serv_b { margin-left:180px; margin-right:200px; }
.serv_c { float:right; margin-top:-157px; width:192px; }

