body
{
    background-image: url(../imagens/bg.gif);
    color: #444646;
    font-family: Arial, Helvetica, sans-serif;
}
strong
{
    font-weight: bold;
    color: #0591c1;
}

@font-face
{
    font-family: Euphemia;
    font-style: normal;
    font-weight: normal;
    src: url('../euphemia.ttf');
}

h1
{
    font-size: 32px;
    color: #0591c1;
    font-family: Euphemia;
}

#main
{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}
#top
{
    margin-top: 10px;
}
#top img
{
    margin-left: 5px;
}

#nav_menu
{
    margin-top: 24px;
    background-color: #34a5cc;
    height: 95px;
}
/*
	#nav_menu ul li { list-style:none; display:inline;  padding-left:20px; padding-left: 18px\9; color:#FFF; font-size:27px; font-family:Euphemia; }
	#nav_menu ul li a:link { text-decoration:none; color:#FFF; font-size:27px; font-family:Euphemia; }
	#nav_menu ul li a:visited { text-decoration:none; color:#FFF; font-size:27px; font-family:Euphemia; }
	#nav_menu ul li a:hover { text-decoration:none; color:#000; font-size:27px; font-family:Euphemia; }
	*/
.nav_menu_top
{
    padding-top: 30px;
}


#container
{
    margin-top: 20px;
    background-color: #FFF;
}
.bg_container
{
    background-image: url(../imagens/bg_container.jpg);
    background-repeat: no-repeat;
    width: 920px;
    height: 174px;
    margin-left: auto;
    margin-right: auto;
}
.mp
{
    margin-top: 20px;
}
.container_texto
{
    padding-top: 25px;
    margin-left: 150px;
    margin-right: 140px;
    font-size: 14px;
}

.container_texto a:link
{
    font-size: 18px;
    color: #0591c1;
    text-decoration: none;
}
.container_texto a:visited
{
    font-size: 18px;
    color: #0591c1;
    text-decoration: none;
}
.container_texto a:hover
{
    font-size: 18px;
    color: #0591c1;
    text-decoration: underline;
}

#news
{
}
.new_l
{
    float: left;
    background-image: url(../imagens/bg_footer.jpg);
    width: 450px;
    height: 192px;
    margin-top: 15px;
    margin-left: 13px;
}
.new_r
{
    float: right;
    margin-top: 15px;
}
.new_r_bg
{
    background-image: url(../imagens/bg_footer_r.jpg);
    background-repeat: no-repeat;
    width: 408px;
    height: 86px;
    padding: 10px;
    padding-right: 50px;
    padding-bottom: 0;
}

.fl
{
    float: left;
    width: 320px;
}
.f_l
{
    float: left;
}
.f_l2
{
    float: left;
    margin-left: 5px;
}
.fr
{
    float: right;
}
.cb
{
    clear: both;
}

.titulo
{
    color: #0591c1;
    font-size: 18px;
}
.texto
{
    padding-top: 10px;
}

.texto a:link
{
    color: #444646;
    text-decoration: none;
}
.texto a:visited
{
    color: #444646;
    text-decoration: none;
}
.texto a:hover
{
    color: #444646;
    text-decoration: underline;
}

.leiamais
{
    font-family: Euphemia;
    font-size: 14px;
    color: #0591c1;
    padding-top: 10px;
}
.leiamais a:link
{
    text-decoration: none;
    font-family: Euphemia;
    font-size: 14px;
    color: #0591c1;
    padding-top: 10px;
}
.leiamais a:visited
{
    text-decoration: none;
    font-family: Euphemia;
    font-size: 14px;
    color: #0591c1;
    padding-top: 10px;
}
.leiamais a:hover
{
    text-decoration: underline;
    font-family: Euphemia;
    font-size: 14px;
    color: #0591c1;
    padding-top: 10px;
}

#footer
{
    background-image: url(../imagens/footer.png);
    width: 940px;
    height: 70px;
    margin-top: 15px;
}
.contaier_footer
{
    padding-top: 24px;
    color: #0591c1;
    font-size: 14px;
    padding-left: 10px;
}


#container_centro
{
    padding: 20px;
    font-size: 15px;
}

#fazemos
{
    margin-top: 30px;
}
.fe
{
    float: left;
    background-image: url(../imagens/botoes_oqfazemos.jpg);
    width: 290px;
    height: 95px;
}
.fd
{
    float: right;
    background-image: url(../imagens/botoes_oqfazemos.jpg);
    background-position: 0px 95px;
    width: 290px;
    height: 95px;
}
.fcenter
{
    margin-left: 305px;
    background-image: url(../imagens/botoes_oqfazemos.jpg);
    background-position: 0px -97px;
    width: 295px;
    height: 95px;
    background-repeat: no-repeat;
}

.fazemos_borda
{
    padding: 10px;
}
.fazemos_tit
{
    font-size: 25px;
    color: #2c4d66;
}
.fazemos_cont
{
    padding-top: 5px;
    width: 200px;
}

.fdl
{
    float: left;
    line-height: 19px;
    width: 290px;
}
.fdr
{
    float: right;
    line-height: 19px;
    margin-right: 95px;
}
.fdc
{
    line-height: 19px;
    margin-left: 310px;
}


.icon_impressao
{
    background-image: url(../imagens/icon_impressao.png);
    height: 32px;
    width: 32px;
    position: absolute;
    background-repeat: no-repeat;
    margin-top: 89px;
    margin-left: 89px;
}

.icon_web
{
    background-image: url(../imagens/icon_web.png);
    height: 32px;
    width: 32px;
    position: absolute;
    background-repeat: no-repeat;
    margin-top: 89px;
    margin-left: 89px;
}

.fc_nomes
{
    margin-top: 35px;
}

.b_briefing
{
    background-image: url(../imagens/bg_briefing.jpg);
    height: 94px;
    width: 456px;
    background-repeat: no-repeat;
    margin-top: 90px;
}

.f_r
{
    float: right;
}

#pop
{
    background-color: #FFF;
    border: 3px solid #2c4d66;
    display: none;
    position: absolute;
    top: 30%;
    left: 36%;
    margin-left: -150px;
    margin-top: -100px;
    padding: 10px;
    width: 630px;
    height: 500px;
    overflow: scroll;
    z-index: 9999;
}

#pop span
{
    font-size: 14px;
}

.pop_close
{
    height: 50px;
    background-color: #34a5cc;
    margin: 0;
}
.pop_close a:link
{
    color: #FFF;
}
.pop_close a:visited
{
    color: #FFF;
}
.pop_close a:hover
{
    color: #FFF;
}

.pop_align
{
    padding-top: 15px;
    text-align: right;
    padding-right: 15px;
}


.iframe
{
    margin-left: -45px;
    margin-top: -22px;
    border: 0px;
    width: 484px;
    height: 206px;
    width: /*\**/ 446px\9;
    height: /*\**/ 193px\9;
    margin-left: /*\**/ -8px\9;
    margin-top: /*\**/ -12px\9;
}


